.centred{
    margin-inline: 45%;
    margin-top: 10%;
}

.selector{
    background-color: #febd69 !important;
    border-color: #131921 !important;
}

.align-content{
    display: flex;
}

.price{
    color: #B12704;
}

img{
    margin-inline: 2%;
}

.cat-div{
    background-color: #febd69;
    padding: 5px;
    border-bottom: solid #131921 1px;
}